.home_page{

    padding: 3rem;

}

.col{
    color: white;
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
    color: #f5f5f5 !important;
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active:hover{
    color: white !important;
}
.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon {
    opacity: 1;
    color: #f5f5f5 !important;
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root:hover{
    color: white !important;
}

.logout{
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    border: 1px solid salmon;
    padding: .3rem .5rem;
    border-radius: 7px;
    cursor: pointer;

}

.logout:hover{
    background-color: salmon;
}